body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: map-get($colors, 'blue');
    font-family: 'San Francisco', sans-serif;
    color: map-get($colors, 'light-blue');
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: right;
    @include for-dasktop-large {
        background-image: url(../img/bg-all-macbook.png);
        background-position: 80% 50%;
    }
    @include for-tablet-large {
        max-width: 100%;
        background-image: none;
    }
}