.header {
    display: flex;
    padding: 0 100px;
    @include for-mobile {
        flex-direction: column;
    }
}

.header__line {
    width: 140px;
    height: 16px;
    background-color: map-get($colors, 'white');
    margin-left: 0;
    margin-top: 28px;
    @include for-mobile {
        margin-left: auto;
        margin-right: auto;
    }
}

.header__btn-login {
    position: relative;
    margin-right: 0;
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    padding-right: 18.7px;
    padding-bottom: 8px;
    padding-left: 48.3px;
    border: 1px solid map-get($colors, 'white');
    background-color: map-get($colors, 'blue');
    color: map-get($colors, 'white');
    border-radius: 4px;
    margin-top: 16px;
    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 20.8px;
        width: 24px;
        height: 24px;
        background-image: url("../img/user.svg");
        background-repeat: no-repeat;
    }
    &:hover {
        background-color: map-get($colors, 'grey-blue');
    }
    &:active {
        background-color: map-get($colors, 'blue');
        color: map-get($colors, 'light-blue');
    }
    @include for-mobile {
        margin-left: auto;
        margin-right: auto;
    }
    @include for-small-mobile {
        text-align: center;
    }
}