    .main {
        padding-bottom: 99px;
        margin-left: 100px;
        margin-right: 92px;
        max-width: 440px;
        width: 100%;
        padding-top: 28px;
        @include for-mobile {
            margin-left: auto;
            margin-right: auto;
        }
        @include for-small-mobile {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    .main__title {
        color: #FFFFFF;
        font-size: 36px;
        line-height: 48px;
        font-family: 'OpenSans', sans-serif;
        font-weight: bold;
        margin-top: 0;
        @include for-small-mobile {
            text-align: center;
        }
    }
    
    .main__items {
        position: relative;
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        @include for-small-mobile {
            padding-left: 20px;
            padding-right: 10px;
            font-size: 12px;
        }
    }
    
    .main__items-item {
        padding-bottom: 15px;
        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 18px;
            height: 14px;
            background-image: url("../img/check.png");
            background-repeat: no-repeat;
        }
        &:last-child::before {
            content: "";
            position: absolute;
            top: 65px;
            left: 0;
            width: 18px;
            height: 14px;
            background-image: url("../img/check.png");
            background-repeat: no-repeat;
        }
    }