$colors: ( "white": #ffffff, "blue": #0b172a, "light-blue": #7a8f99, "grey-blue": #212d3e, "green": #1C945D, "red": #e15433);
$breakpoints-dasktop-large: 3000px;
$breakpoints-tablet-large: 1024px;
$breakpoints-tablet: 768px;
$breakpoints-mobile: 640px;
$breakpoints-small-mobile: 450px;